<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Figura Publica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">

  <ion-item>
    <ion-label class="label">
      NF
    </ion-label>
  </ion-item>

  <ion-card class="img-card">
    <ion-card-header>
      <ion-img src="/assets/nf_real.jpg" class="img"></ion-img>
    </ion-card-header>
  </ion-card>

  <ion-item>
    <ion-label class="label">
      Quem é NF?
    </ion-label>

  </ion-item>
  
  <div class="container-text">
      <p>Nathan John Feuerstein mais conhecido como NF. É um grande rapper internacional. Nasceu do dia 30 de Março de 1991 e tem carreira musical desde o ano 2010.</p>
      <p></p>
      <p>É de nacionalidade americana e desde pequeno que sonhava ser rapper. Esse sonho tornou-se realidade, hoje em dia ele escreve e canta as suas próprias músicas. </p>
  </div>
  <div class="container-text1">
      
  </div>

</ion-content>
