<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="titulo">Figura Publica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
    <h1 class="album">Albuns</h1>

  
    
    
  <ion-list>
    <ion-item>
      <ion-label>Moments, 2010</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mansion, 2015</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Therapy Session, 2016</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Perception, 2017</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>The search, 2019</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Clouds, 2021</ion-label>
    </ion-item>
  </ion-list>

    <ion-button (click)="VerAlbum()" class="ver-btn" color="medium">Ver albuns</ion-button>



  <div class="container-text">
    <p>Nos primeiros albuns Moments e Mansion, NF fala sobre a sua vontade de se tornar rapper e sobre os seus medos. No album Mansion, ele fala sobre o seu pseudónimo (Nathan) e escreve sobre as suas inseguranças e problemas mentais.</p>
  </div>
  <div class="traco"></div>
  <div class="container-text">
    <p>Já nos 3 albuns seguintes (Therapy Session, Perception e The Search) ele foca-se mais nos problemas sociais e sobre a sua religião. Fala sobre o cristianismo e sobre as suas falhas e dá uma visão dupla (a visão de NF e Nathan) da sociedade e dos problemas emocionais que surgem na nova geração.</p>
  </div>
  <div class="traco"></div>
  <div class="container-text">
    <p>O último album, embora foque em alguns pontos sociais é bem mais superficial e é apenas ele a mostrar a sua qualidade lírica e a contar todo o caminho que percorreu.</p>
  </div>
</ion-content>
