<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="titulo">Figura Publica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-card class="card">
    <ion-card-header>
      <ion-img src="assets/moments.jpg"></ion-img>
      <ion-card-subtitle>Moments</ion-card-subtitle>
      <ion-card-title>2010</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="card"> 
    <ion-card-header>
      <ion-img src="assets/mansion.jpg"></ion-img>
      <ion-card-subtitle>Mansion</ion-card-subtitle>
      <ion-card-title>2015</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="card">
    <ion-card-header>
      <ion-img src="assets/therapy.jpg"></ion-img>
      <ion-card-subtitle>Therapy Session</ion-card-subtitle>
      <ion-card-title>2016</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="card">
    <ion-card-header>
      <ion-img src="assets/perc.jpg"></ion-img>
      <ion-card-subtitle>Perception</ion-card-subtitle>
      <ion-card-title>2017</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="card">
    <ion-card-header>
      <ion-img src="assets/search.jpg"></ion-img>
      <ion-card-subtitle>The Search</ion-card-subtitle>
      <ion-card-title>2019</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="card">
    <ion-card-header>
      <ion-img src="assets/cloud.jpg"></ion-img>
      <ion-card-subtitle>Clouds</ion-card-subtitle>
      <ion-card-title>2021</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
